.navbar {
  padding: 1.5rem;
  z-index: 10;
  .navbarLink {
    color: black;
    text-decoration: none;
    font-family: helveticaNowBold;
    text-transform: uppercase;
    &:hover {
      color: red;
    }
  }
  .homeLink {
    position: fixed;
    left: 2rem;
    top: 2rem;
  }
  .aboutLink {
    position: fixed;
    right: 2rem;
    top: 2rem;
  }
  .workLink {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
  }
  .contactLink {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
  }
}
