* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// --------------------------------------------------------fonts
@font-face {
  font-family: helveticaNowBold;
  src: url(../../public/fonts/HelveticaNowDisplayBold.otf);
}
@font-face {
  font-family: gilroyB;
  src: url(../../public/fonts/Gilroy-Bold.otf);
}
h1 {
  font-size: 96px;
  font-family: helveticaNowBold;
  text-transform: uppercase;
}
